<!DOCTYPE html>
<html>
  <head><title>John's Template</title></head>
  <body>
    <main>
        <form action="/searches" method="get">
            <input type="text" placeholder="thing to search for" name="words" />
            <div><input type="radio" name="searchBy" value="title"> Title</div>
            <div><input type="radio" name="searchBy" value="author"> Author</div>
            <button>DO IT!</button>

        </form>
    </main>
  </body>
</html>
