<!DOCTYPE html>
<html>
  <head><title>John's Template</title></head>
  <body>
    <main>
        <h1>Do these things</h1>
        <p><a href="/list">List of Stuff</a></p>
        <p><a href="/books">Books</a></p>
    </main>
  </body>
</html>
