<!DOCTYPE html>
<html>
  <head>
      <title>John's Template</title>
      <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
        <ul>

            <% figglesandbits.forEach( (person) => { %>

              <li><%= person %></li>

            <% }); %>

        </ul>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
